<div class="col-md-10">
  <div class="pull-left">
      <%= link_to "账号管理", users_path, class: "btn btn-danger" %>
      <%= link_to "标签管理", labels_path, class: "btn btn-danger" %>
      <%= link_to "图片管理", pictures_path, class: "btn btn-danger" %>
      <p>用户积分：</p><%= current_user.credit %>
       <% if current_user.credit_logs.between(created_at: [Date.today.beginning_of_day, Date.today.end_of_day]).any? %>
          <p>已经签到</p>
       <% else %>
          <%= link_to("签到", sign_in_user_path(current_user, page: params[:page]), method: :put, class: "btn btn-success btn-xs") %>
       <% end %>
  </div>

  <div class="pull-right">
    <%= link_to "新建文章", new_article_path, class: "btn btn-primary btn-xs" %>
  </div>
  <table class="table table-bordered">
    <thead>
     <tr>
        <th>Title</th>
        <th>From</th>
        <th>Url</th>
        <th>Readnumber</th>
        <th>采集者</th>
        <th>创建时间</th>
        <th>标签</th>
        <th>图片</th>
        <th>操作</th>

     </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.from %></td>
          <td><%= article.url %></td>
          <td><%= article.read_number %></td>
          <td><%= article.user&.email %></td>
          <td><%= article.created_at.strftime("%Y/%m/%d %I:%M %p") %></td>
          <td>
                <% article.labels.each do |l| %>
                   <%= raw l.name %>
                <% end %>
          </td>
          <td>
            <% article.pictures.each do |p| %>
                  <%= raw p.photo %>
                  <%= image_tag(p.photo.url("720x240"), class: "thumbnail") %>
            <% end %>
          </td>
          <td>
            <%= link_to("edit", edit_article_path(article))%>
            <%= link_to("show", article_path(article))%>
            <%= link_to("delete", article_path(article), method: :delete)%>
          </td>
        </tr>
       <% end %>
    </tbody>
  </table>
</div>
