<div class="col-md-8">
  <%= @article&.errors&.full_messages %>
  创建文章
  <%= simple_form_for @article do |f| %>
    <%= f.input :title, label: "文章标题" %>
    <%= f.input :content,label: "文章内容" %>
    <%= f.input :from, label: "from" %>
    <%= f.input :url, label: "url" %>
    <%= f.input :read_number, label: "点击次数" %>
    <%= f.input :image%>
    <div class="form-group string required article_title">
    <label class="col-sm-2 control-label string required" for="article_title">
      选择标签</label>
      <div class="col-sm-10">
        <% @labels.each_with_index do |label, index| %>
         <input id="" name="checked_labels[<%= index %>]" type="checkbox" value="<%= label[1] %>" <%= @article.labels.find(label[1]).nil? ? '' : 'checked' %> />
         <label for="pet_dog"><%= raw label[0] %></label>
       <% end %>
      </div>
    </div>
    <%= f.submit "Submit" %>
  <% end %>
</div>
