<div class="col-md-7">
    <h2><%= @article.title %>
      <div class="pull-right">
        <% if current_user.favorites.find_by(article: @article) %>
          <%= link_to("取消收藏", unfavorating_article_path, method: :put,  class: "btn btn-sm btn-info")%>
        <% else %>
          <%= link_to("收藏", favorating_article_path, method: :put, class: "btn btn-sm btn-info")%>
        <% end %>
      </div>
    <p><%= @article.content %></p>
    <br>
    <% if @article.image_url %>
    <%= @article.image_url("720x240") %>
      <%= image_tag(@article.image_url("720x240"), class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail")%>
    <% end %>
    <%= link_to("Download Image", @article.image_url)%>
    <br>
    <div class="pull-left">
      <%= link_to("写评论", new_article_comment_path(@article), class: "btn btn-sm btn-primary")%>
    </div>
    <div class="col-md-4 col-md-offset-4">
      <%= simple_form_for [@article,@comment] do |f| %>
        <%= f.input :content, label: "写评论"%>
        <%= f.submit "提交", class: "btn btn-sm btn-primary" %>
      <% end %>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Content</th>
          <th>Writer</th>
          <th>Create Time</th>
        </tr>
      </thead>
      <tbody>
        <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.content %></td>
          <td><%= comment.user.email %></td>
          <td><%= comment.created_at.strftime("%F %T") %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
