<div class="col-md-10">
  <div class="pull-right">
    <%= link_to "new", new_user_path %>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>邮箱</th>
        <th>用户名</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
          <td><%= user.email %></td>
          <td><%= user.username %></td>
          <td>
            <div class="col-md-7">
                <% if user.userphoto_url %>
                <%= user.userphoto_url("720x240") %>
                  <%= image_tag(user.userphoto_url("720x240"), class: "thumbnail") %>
                <% else %>
                  <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail")%>
                <% end %>
                <%= link_to("Download Image", user.userphoto_url)%>
            </div>
          </td>
          <td>
            <%= link_to "edit", edit_user_path(user)%>
          </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
